
{% load static %}

<html lang="es">
<head>
    <title>Barrio Market</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static  'js/jQuery1.9.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style/estilos_login.css' %}">
    <meta charset="utf-8">
</head>
<style>
    body{
        font-family: poppins;
        font-weight: 300;
        color: var(--text);
        background-color: rgb(255, 255, 255);
        background-image: radial-gradient(at 98.17% 95.50%, rgb(75, 85, 99) 0, transparent 71%), radial-gradient(at 0% 0%, rgb(148, 163, 184) 0, transparent 60%), radial-gradient(at 0% 0%, rgb(255, 255, 255) 0, transparent 100%), radial-gradient(at 2.60% 98.17%, rgb(20, 184, 166) 0, transparent 52%), radial-gradient(at 99.06% 1.33%, rgb(244, 114, 182) 0, transparent 95%);
    }
</style>
<body>
    <div class="container-fluid main">
        <div class="form-content">
            <div class="form col-md-5 registro register_content">
                <form action="" method="post">
                    <center>
                        <h3>Registrate</h3>
                        <h6>Llena todos los campos para continuar</h6>
                        <br>
                        {% csrf_token %}
                        
                        <!-- Correo -->
                        <div class="form-group">
                            {{ form.Correo.label_tag }}
                            {{ form.Correo }}
                            {% if form.Correo.errors %}
                                <div class="text-danger">
                                    {{ form.Correo.errors }}
                                </div>
                            {% endif %}
                        </div>
                        
                        <!-- Nombres -->
                        <div class="row">
                            <label for="exampleInputEmail1">Nombres</label>
                            <div class="col">
                                {{ form.Primer_nombre }}
                                {% if form.Primer_nombre.errors %}
                                    <div class="text-danger">
                                        {{ form.Primer_nombre.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.Primer_apellido }}
                                {% if form.Primer_apellido.errors %}
                                    <div class="text-danger">
                                        {{ form.Primer_apellido.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        
                        <!-- Teléfono -->
                        <div class="form-group">
                            {{ form.Telefono.label_tag }}
                            {{ form.Telefono }}
                            {% if form.Telefono.errors %}
                                <div class="text-danger">
                                    {{ form.Telefono.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        
                        <!-- Documento -->
                        <div class="form-group">
                            {{ form.Documento.label_tag }}
                            {{ form.Documento }}
                            {% if form.Documento.errors %}
                                <div class="text-danger">
                                    {{ form.Documento.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        
                        <!-- Contraseñas -->
                        <div class="row">
                            <label for="exampleInputEmail1">Contraseña*</label>
                            <div class="col">
                                {{ form.password1 }}
                                {% if form.password1.errors %}
                                    <div class="text-danger">
                                        {{ form.password1.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col">
                                {{ form.password2 }}

                            </div>
                        </div>
                        {% if form.password2.errors %}
                        <div>
                            <ul>
                                {% for error in form.password2.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        <br>
                        
                        <!-- Botón Registrar -->
                        <button type="submit" class="btn_registrar" name="btn_registrar">Registrar</button>
                        <br><br>
                        <a href="recuperar.php">Recuperar cuenta.</a> | <a href="/login"> ¿Ya tienes cuenta? </a>
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>