{% load static %}
{% include 'inc/header.html' %}



<style>
    #btn_registro{
        background-color: #000;
        color: #fff;
    }
    .button, button {
        padding: 10px 20px;
        margin-top: 15px;
        font-size: 16px;
    }

    .btn-fcs{
        border: 1px solid #adabab;
    }
    .btn-fcsm{
        border: 1px solid #adabab;

    }

    .selected {
        border-color: green !important;
    }

    .btn_SeleccionRegistro{
        border-radius: 4px;
        padding: 4px;
        cursor: pointer;
    }

    .seleccionRegistro{
        background-color: white !important; 
    }


    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0,0,0,0.2);
        padding: 10px;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 800px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        max-height: 50vh; /* Para limitar la altura máxima del contenido del modal */
        overflow-y: auto; /* Agregar barra de desplazamiento vertical si el contenido excede la altura máxima */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .upload-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px dashed #ccc;
        border-radius: 10px;
        background-color: #f9f9f9;
        cursor: pointer;
        text-align: center;
        color: #888;
        background-size: cover;
        background-position: center;
    }
    .upload-container:hover {
        background-color: #f1f1f1;
    }
    .upload-container input[type="file"] {
        display: none;
    }
    .upload-icon {
        font-size: 100px;
        color: #ccc;
    }
    .upload-text {
        font-size: 16px;
        color: #333;
    }

    .contenedorcategorias,
    .contenedorfabricantes {
        display: none;
        padding-top: 10px;
    }

    .contenedorproductos {
        display: block;
        padding-top: 10px;
    }

    .card {
        width: 18rem;
        height: 270px !important;
        margin: 1rem;
        border: none !important;
    }


</style>
<center>
    <h1 style="font-size: 57px; font-weight: bold;">Registros</h1>
    <p style="color: #828282; width: 40%;">Esta es una lista donde puedes visualizar, editar y eliminar los Productos, Categorias y Fabricantes registrados</p>
    <div class="col-4" style="background-color: #F5F5F5; padding:7px; border-radius:5px;">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="col-4 btn_SeleccionRegistro seleccionRegistro shadow-sm" onclick="selectRegistro(this, 1)" id="btn_verproductos">Productos</div>
            <div class="col-4 btn_SeleccionRegistro" onclick="selectRegistro(this, 2)" id="btn_verfabricantes">Fabricantes</div>
            <div class="col-4 btn_SeleccionRegistro" onclick="selectRegistro(this, 3)" id="btn_vercategorias">Categorias</div>
        </div>
    </div>
</center>

<div class="contenedorproductos" id="contenedorproductos">
    <center>
        <h6>Busqueda</h6>
        <input type="text" id="search" class="form-control" placeholder="Ej: Cuaderno" style="width: 18rem;">
    </center>
    <div class="container-fluid" style="padding-top:10px;">
        <div>
            {% if listadoproductos %}
              <div class="row justify-content-evenly" id="product-list">
              {% for p in listadoproductos %}
              <div class="col-md-4 shadow card" style="background: url({{ p.Imagen }});">
                  <div class="card-body">
                      <div class="d-flex justify-content-between">
                          <span class="text-muted">{{ p.Fabricante }}</span>
                          <span class="text-muted">{{ p.Cantidad }} Unidades</span>
                      </div>
                      <h5 class="card-title">{{ p.Nombre }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">${{ p.ValorVenta }}</h6>
                      <ul class="list-styled" style="height:96px">
                          <li>{{ p.Categoria }}</li>
                          {% for subcategoria in p.Subcategorias %}
                              <li class="text-muted">{{ subcategoria }}</li>
                          {% endfor %}
                      </ul>
                      <div class="container-fluid">
                          <div class="row justify-content-evenly">
                              <a href="/Productos/Actualizar/{{ p.idProducto }}" class="col-6">
                                  <button class="btn btn-edit col-12" id="btn_edit" name="btn_edit">Editar</button>
                              </a>
                              
                              <a href="/Productos/borrar/{{ p.idProducto }}" class="col-6">
                                  <button class="btn btn-delete col-12" name="btn_delete" id="btn_delete">Eliminar</button>
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
              {% endfor %}
            </div>
                <div class="container">
                    <div class="row justify-content-evenly">
                        <a href="/Productos/AgregarProductos" class="col-4">
                            <button class="btn btn-edit button col-12">Agregar Producto</button>
                        </a>
                    </div>
                    <div class="row justify-content-evenly">
                        <a href="" class="col-4">
                            <button class="btn btn-edit button col-12">Productos faltantes</button>
                        </a>
                    </div>
                </div>
            {% else %}
                    <center>
                        
                        <p class="text-muted" style="padding-top:13px;">No se encontro ningun producto</p>
                    </center>
                <div class="container">
                    <div class="row justify-content-evenly">
                        <a href="/Productos/AgregarProductos" class="col-4">
                            <button class="btn btn-edit button col-12">Agregar Producto</button>
                        </a>
                    </div>
                    <div class="row justify-content-evenly">
                        <a href="" class="col-4">
                            <button class="btn btn-edit button col-12">Productos faltantes</button>
                        </a>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</div>


<div class="contenedorfabricantes" id="contenedorfabricantes">
    <center>
        <h6>Busqueda</h6>
        <input type="text" id="search" class="form-control" placeholder="Ej: Matel" style="width: 18rem;">
    </center>
    <div class="container-fluid" style="padding-top:10px;">
        <div class="row justify-content-evenly">
            {% if listadofabricantes %}
                {% for f in listadofabricantes %}
                    <div class="col-md-4 shadow card">
                        <div class="card-body">
                            <h5 class="card-title">{{ f.Nombre }}</h5>
                            <span class="text-muted">Productos relacionados</span>
                            <ul class="list-styled" style="height:96px">
                                    {% if f.Productos %}
                                        {% for p in f.Productos %}                          
                                                <li>{{p}}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="text-muted">No tiene productos relacionados</li>
                                    {% endif %}
                            </ul>
                            <div class="container-fluid">
                                <div class="row justify-content-evenly">
                                    <form action="dashboard.php?mod=EditarProducto" method="post" class="col-6">
                                        <input type="text" name="idproducto" value="{{ f.idFabricante }}" hidden>
                                        <button class="btn btn-edit col-12" id="btn_edit" name="btn_edit" type="submit">Ver mas</button>
                                    </form>
                                    <form action="./codigo_productos.php" method="POST" class="col-6">
                                        <input type="text" name="idproducto" value="{{ f.idFabricante }}" hidden>
                                        <button class="btn btn-delete col-12" name="btn_delete" id="btn_delete" type="submit">Eliminar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="container">
                    <div class="row justify-content-evenly">
                        <div class="col-4">
                            <button  id="btnCrearFabricanteRegistro" class="btn btn-edit button col-12" >Agregar Fabricante</button>
                        </div>
                    </div>
                </div>
            {% else %}
                    <center>
                        <p class="text-muted" style="padding-top:13px;">No se encontro ningun Fabrincate</p>
                    </center>
                <div class="container">
                    <div class="row justify-content-evenly">
                        <div  class="col-4">
                            <div id="btnCrearFabricanteRegistro" class="btn btn-edit button col-12">Agregar Fabricante</div>
                        </div>
                    </div>
                </div>
                
            {% endif %}
        </div>
    </div>
</div>

<div id="VentanaCrearFabricanteRegistro" class="modal">
    <div class="modal-content">
        <div class="container-fluid">
            <div class="row">
                <span class="close closeCFR col-1" style="position: absolute;">&times;</span>
                <center>
                    <h1 class="titulo">Agregar fabricante</h1>
                </center>
            </div>
        </div>
        <center>
            <form method="post" action="" class="col-md-4">
                {% csrf_token %}
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" name="NombreFabricante" placeholder="Ej: Matel">
                <label for="exampleInputEmail1">Telefono</label>
                <input type="text" class="form-control" name="TelefonoFabricante" placeholder="Ej: 3242974388">
                <button type="submit" class="btn btn_consulta col-md-12 btn-fcsm" name="btn_fabricante">Crear</button>
            </form>
        </center>
    </div>
</div>


<div class="contenedorcategorias" id="contenedorcategorias">
    <center>
        <h6>Busqueda</h6>
        <input type="text" id="search" placeholder="Ej: Cuaderno">
    </center>
</div>

<script>
    function selectRegistro(element, id) {
        var registro = parseInt(id, 10);
        var buttons = document.querySelectorAll('.btn_SeleccionRegistro');
        buttons.forEach(function(btn) {
            btn.classList.remove('seleccionRegistro');
            btn.classList.remove('shadow-sm');
        });
        element.classList.add('seleccionRegistro');
        element.classList.add('shadow-sm');

        if (registro === 1) {
            document.getElementById('contenedorcategorias').style.display = "none";
            document.getElementById('contenedorfabricantes').style.display = "none";
            document.getElementById('contenedorproductos').style.display = "block";
        } else if (registro === 2) {
            document.getElementById('contenedorcategorias').style.display = "none";
            document.getElementById('contenedorfabricantes').style.display = "block";
            document.getElementById('contenedorproductos').style.display = "none";
        } else if (registro === 3) {
            document.getElementById('contenedorcategorias').style.display = "block";
            document.getElementById('contenedorfabricantes').style.display = "none";
            document.getElementById('contenedorproductos').style.display = "none";
        }
    }
</script>
<script>
    window.onclick = function(event) {
        for (let modalKey in modals) {
            if (event.target == modals[modalKey]) {
                modals[modalKey].style.display = "none";
            }
        }
    }

    const modals = {

        VentanaCrearFabricante: document.getElementById("VentanaCrearFabricanteRegistro"),

    }

    const botones = {

        btnCrearFabricanteRegistro: document.getElementById("btnCrearFabricanteRegistro"),

    };

    const cerradores = {
        
        closeCFR: document.querySelector(".closeCFR"),

    };

    botones.btnCrearFabricanteRegistro.onclick = function() {
        modals.VentanaCrearFabricante.style.display = "flex";
    }

    cerradores.closeCFR.onclick = function() {
        modals.VentanaCrearFabricante.style.display = "none";
    }

</script>
<script>
  $(document).ready(function() {
      $('#search').on('input', function() {
          var query = $(this).val();

          $.ajax({
              url: "",  // La petición se hace a la misma URL
              data: {'BProductos': query},
              success: function(data) {
                  $('#product-list').empty();  // Limpiar lista actual

                  // Iterar sobre los productos recibidos y reconstruir la lista
                  data.results.forEach(function(p) {
                      var subcategorias = p.Subcategorias.map(function(sub) {
                          return '<li class="text-muted">' + sub + '</li>';
                      }).join("");

                      $('#product-list').append(`
                          <div class="col-md-4 shadow card" style="background: url(${p.Imagen});">
                              <div class="card-body">
                                  <div class="d-flex justify-content-between">
                                      <span class="text-muted">${p.Fabricante}</span>
                                      <span class="text-muted">${p.Cantidad} Unidades</span>
                                  </div>
                                  <h5 class="card-title">${p.Nombre}</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">$${p.ValorVenta}</h6>
                                  <ul class="list-styled" style="height:96px">
                                      <li>${p.Categoria}</li>
                                      ${subcategorias}
                                  </ul>
                                  <div class="container-fluid">
                                      <div class="row justify-content-evenly">
                                          <a href="/Productos/Actualizar/${p.idProducto}" class="col-6">
                                              <button class="btn btn-edit col-12" id="btn_edit" name="btn_edit">Editar</button>
                                          </a>
                                          <a href="/Productos/borrar/${p.idProducto}" class="col-6">
                                              <button class="btn btn-delete col-12" name="btn_delete" id="btn_delete">Eliminar</button>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      `);
                  });
              }
          });
      });
  });
</script>
{% include 'inc/footer.html' %}