{% load static %}
{% include 'inc/header.html' %}

  <div>
    <center>
      <h1 style="font-size: 57px; font-weight: bold;">Cambio de contraseña</h1>        <p style="color: #828282; width: 40%;">Ingresa el correo al cual se le enviara el código de cambio de contraseña </p>
      <form method="POST" action="">
        {% csrf_token %} 
        <div class="container-fluid">
          <label for="exampleInputEmail1">Correo</label>
          <div class="col-4">
            <input type="email" class="form-control" name="Correo" placeholder="Ej: ejempllo@gmail.com" required maxlength="150"></input>
            <button type="submit" class="btn btn-edit button col-12" name="CorreoEnviar">Enviar</button>
          </div>
        </div>
      </form>
    </center>
  </div>      

{% include 'inc/footer.html' %}