{% load static %}
{% include 'inc/header.html' %}

<style>
    :root {
        --primary-color: #000000;
        --secondary-color: #333333;
        --border-color: #dddddd;
    }

    /* Contenedor principal de productos */
    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2rem;
        margin-bottom: 4rem;
    }

    /* Tarjeta del producto */
    .product-card {
        border: 1px solid var(--border-color);
        border-radius: 8px;
        overflow: hidden;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    /* Imagen del producto */
    .product-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    /* Información del producto */
    .product-info {
        padding: 1.5rem;
    }

    .product-name {
        font-size: 1.1rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
    }

    .product-description {
        font-size: 0.9rem;
        color: var(--secondary-color);
        margin-bottom: 1rem;
    }

    .product-price {
        font-size: 1.1rem;
        font-weight: 400;
    }
</style>

<div class="container py-4">
    <div class="text-center mb-4">
        <h1 class="fw-bold">Añadir Producto</h1>
        <p class="text-muted">Selecciones los productos que desea para esta venta</p>
    </div>
    <div class="container-fluid" style="padding-top:10px;">
        <div>
            <div class="container-fluid">
                <div class="product-grid">
                    {% for producto in productos %}
                    <div class="product-card">
                        <a href="Productos/VistaProducto/{{ producto.id }}">
                            <img src="{% static 'image/Productos/' %}{{ producto.imagen }}" class="product-image">
                        </a>
                        <div class="product-info">
                            <p class="product-name"><strong>{{ producto.Nombre }}</strong></p>
                            <p class="product-description">{{ producto.Descripcion }}</p>
                            <p class="product-price"><strong>${{ producto.ValorVenta }}</strong></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-evenly">
                <a href="/Productos/AgregarProductos" class="col-4">
                    <button class="btn btn-edit button col-12">Agregar Producto</button>
                </a>
            </div>
        </div>

    </div>
</div>
</div>

{% include 'inc/footer.html' %}